/* 清空元素浏览器默认的属性值 */
*{
    margin: 0;
    padding: 0; 
}
/* 设置页面显示的字体大小,背景色 */
body{
    font-size: 13px;
    background-color: #F2F2F0;
}
/* 清除列表元素默认的样式 */
ul{
    list-style-type: none;
}
/* 清除超级链接的下划线 */
a{
    text-decoration: none;
    /* color: #E8F5EC; */
}

/* 全局广告图片样式 */
.adimg{
    border: solid 0px red;
    width: 100%;
    margin-top: 47px;
    margin-bottom: 20px;
}
.adimg>a>img{
    width: 100%;
}

/* 焦点颜色样式定义 */
.focus{
    color: #B8EAEE !important;
}
/* 编写导航条的样式 */
#nav{
    width: 100%;
    /* 固定元素 */
    position: fixed; 
    border: solid 0px red;
    top: 0;
    left: 0;
    background-color: #555;
}
#nav>.box{
    overflow: hidden;
    width: 960px;
    padding: 10px 0px;
    margin: 0 auto;
    border: solid 0px blue;
}
#nav>.box>.title{
    float: left;
    margin-right: 70px;
}
#nav>.box>.title>h3{
    color: #B8EAEE;
    font-size: 20px;
}
#nav>.box>.list{
    float: left;
}
#nav>.box>.list>ul>li{
    float: left;
    margin-right: 30px;
    color: #E8F5EC;
}
#nav>.box>.a1{
    float: right;
}
#nav>.box>.a1>a{
    margin-right: 15px;
}
/* 首页图片样式 */
#tleimg{
    width: 100%;
    margin-top: 46px;
}
#tleimg>img{
    width: 100%;
    position: fixed;  /* 固定元素，防止滚动 */
}

